<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{default page.title app.title app.name}}</title>
        <link rel="stylesheet" href="{{ asset 'style.css'}}" type="text/css"
            media="screen" data-reload="style">
        <script src="{{ asset 'scripts.js'}}"></script>
        <meta name="color-scheme" content="light dark">
    </head>
    <body>
