h1,
h2,
h3,
h4,
h5 {
    font-weight: 0;
    text-wrap: balance;
    font-family: var(--title-font);
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    letter-spacing: -0.1rem;
}


h1 {
    font-size: var(--font-size-title);
    line-height: 1;
}