@font-face {
    font-family: 'Apple Garamond';
    src: url('/fonts/AppleGaramond.woff2') format('woff2'),
        url('/fonts/AppleGaramond.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}