@font-face {
    font-family: 'Charter';
    src: url('/fonts/Charter.woff2') format('woff2'),
        url('/fonts/Charter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}